body {
  background-color: #f1faee;
}

.container {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #1d3557;
}

.tabs-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.tabs-list__item {
  width: 280px;
  border-radius: 0.5em;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #a8dadc;
  color: #1d3557;
}

.tabs-list__item:hover {
  background-color: #e63946;
  opacity: 0.8;
}

.tab-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}